:root
{
	--Beautiful:green;
	--Magnificent:purple;
	--Splendid:crimson;
	--Superb:orange;
	--DefaultEm:2em;


	--SharpPink:#fc0fc0;
	--SharpBlue:#1f70c3;
}



::placeholder
{
	color:Crimson;
}

.crib
{
font-size:medium;
}

.crib > button
{
	width:100%;
	background-color:var(--Magnificent);
	color:var(--Beautiful);
	border:0;
	font-size:var(--DefaultEm);
	padding:.5em;
	cursor:pointer;
}


.input-crib
{
padding:0 var(--DefaultEm);
border:1px solid var(--Magnificent);
border-bottom-width:0;
color:black;
position:relative;
z-index:2;
}

.input-crib:last-child
{
border-bottom-width:1px;
}

/*****\Inputs******/
.input-crib > input,
.input-crib > select,
.input-crib > textarea
{
width:95%;
}

.input-crib > input,
.input-crib > select,
.input-crib > textarea,
.input-crib > input[type=checkbox] ~ span
{
font-family:'Arial';
font-size:var(--DefaultEm);
box-sizing:border-box;
color:var(--Magnificent);
display:block;
border:0;
background:none;
padding:0;
outline:none;
line-height:3;
}

.input-crib > input::first-line
{
}


.input-crib > select
{
padding:.5em;
border:1px solid var(--Magnificent);
background-color:var(--Splendid);
}

.input-crib > textarea
{
height:5em;
resize:none;
border:1px solid var(--Magnificent);
}

/*****\Placeholder******/

.input-crib > aside.placeholder
{
display:none;
font-size:.7em;
float:left;
animation-name:from-left;
animation-duration:250ms;
color:white;
}

.input-crib > input:not(:placeholder-shown) ~ aside.placeholder
{
display:block;
}


/*****\HelpAside******/

.input-crib > aside.role-of-this-value
{
/*float:right;*/
width:1em;
height:1em;
padding:.5em;
border:1px solid var(--Magnificent);
background-color:var(--Splendid);
position:absolute;
right:0;
bottom:0;
}

.input-crib > aside.role-of-this-value:hover
{
width:auto;
height:auto;
}

.input-crib > aside.role-of-this-value::before
{
content:"?";
/*line-height:1em;*/
text-align:center;
display:block;
}

.input-crib > aside.role-of-this-value:hover::before
{
display:none;
}

.input-crib > aside.role-of-this-value > .clarification
{
display:none;
}

.input-crib > aside.role-of-this-value:hover > .clarification
{
display:block;
}


/*****\Checkbox******/


label.checkbox
{
	display:block;
/*	padding-left:calc( 2 * var( --DefaultEm ));*/
}

label.checkbox > input
{
	display:none;
}

label.checkbox > .check-cont
{
	float:left;
	height:var( --DefaultEm );
	width:var( --DefaultEm );
	border-radius:.5em;
	background-color:white;
	margin-right: calc( var(--DefaultEm ) / 3 );
	cursor:pointer;
}

label.checkbox > .check-cont > span
{
	display:none;
	color:var(--SharpPink);
	text-align:center;
	line-height:var(--DefaultEm);
	animation-name:Check;
	animation-duration:750ms;
}

label.checkbox > .check-cont > span::before
{
	font-size:calc( var(--DefaultEm) / 2 );
}


label.checkbox > input:checked + .check-cont > span
{
	display:block;
}

label.checkbox > label
{
	float:left;
	height:var(--DefaultEm);
	line-height: var(--DefaultEm );
}

label.checkbox > label > span
{
	font-size:var(--DefaultEm);
}

#_structures
{
	display:none;
}

@keyframes Check
{
	from
	{
		transform:scale(3);
		opacity:0;
	}
	50%
	{
		transform:scale(3);
		opacity:1;
	}
}







